body{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, white, black);
}
/*background-image: linear-gradient(to bottom, rgb(26, 28, 29), darkblue);*/
#dashboard{
    width: 80%;
    background-color: rgba(24, 23, 23, 0.267);
    justify-self: center;
    flex: none;
    margin: 0px;
}